<%= form_for(:processings, :url=>cus_evaluate_service_path) do |f| %>
<% @responses.each do |response|%>

  <table cellspacing="10">
  <% if response.response_type == "reply"%>
    <tr><td><%= response.created_by %> Reply to <%= response.response_to %> on <%= response.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td></tr>
  <% elsif response.response_type == "forward"%>   
    <tr><td><%= response.created_by%> Forward to <%= response.response_to %> on <%= response.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td></tr>   
  <% else %>  
    <tr><td>Comment from <%= response.created_by%> on <%= response.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td></tr>
  <% end %>    
  <tr><td><%=simple_format h response.reply_content %></td></tr>  
  <% if current_user.user_group=="customer"%>
    <% if response.service_standard.nil? || response.service_standard==""%>
    <tr><td><%= radio_button_tag(:standard,"good")%>Good&nbsp;&nbsp;<%= radio_button_tag(:standard,"ok")%>OK&nbsp;&nbsp;<%= radio_button_tag(:standard,"bad")%>Bad&nbsp;</td></tr>
    <tr><td><%= hidden_field_tag(:processing_id, response.id)%></td></tr>
    <tr><td><%= hidden_field_tag(:case_id, response.case_id)%></td></tr>
    <tr><td><%= f.submit "submit"%></td></tr>
    <% else %>
    <tr><td>Serveice is <%= response.service_standard%></td></tr>
    <% end%>
  <% end %>
  

  <!--<% if @case.poc == current_user.user_id %>
    <tr><td><%= link_to "Reply", case_processing_path(:processing=>response.id,:type=>"reply") %>  <%= link_to "Forward", case_processing_path(:processing=>response.id,:type=>"forward") %></td></tr>
  <% elsif response.response_to == current_user.user_id %>
    <tr><td><%= link_to "Reply", case_processing_path(:processing=>response.id,:type=>"reply") %>  <%= link_to "Forward", case_processing_path(:processing=>response.id,:type=>"forward") %></td></tr>
  <% else %>
    <tr><td><%= link_to "Add commemt", case_processing_path(:processing=>response.id,:type=>"comment") %></td></tr>
  <% end %>-->
  </table>
<% end %>
<% end %>

<div id="basic-accordian" ><!--Parent of the Accordion-->
    	<script>
  	$(document).ready(function(){
      $("#test-header4").click(function(){
       $("#test-content4").slideToggle("fast");
       $("#test-content1").css("display","none");
       $("#test-content2").css("display","none");
       $("#test-content3").css("display","none");
      });
      $("#test-header3").click(function(){
       $("#test-content3").slideToggle("fast");
       $("#test-content1").css("display","none");
       $("#test-content2").css("display","none");
       $("#test-content4").css("display","none");
      });
      $("#test-header2").click(function(){
       $("#test-content2").slideToggle("fast");
       $("#test-content1").css("display","none");
       $("#test-content4").css("display","none");
       $("#test-content3").css("display","none");
      });
      $("#test-header1").click(function(){
       $("#test-content1").slideToggle("fast");
       $("#test-content4").css("display","none");
       $("#test-content2").css("display","none");
       $("#test-content3").css("display","none");
      });
    });
     </script>
    	
     <% groups=["admin","customer","natas"]%>
     <% if current_user.user_group=="customer"%>
     <%= render "processings/cus_reply"%>
     <!--<%= link_to "Back", cus_home_path %>-->
     <% elsif current_user.user_group=="natas"%>	
      <%= render "processings/get_agent_reply"%>
      <%= render "processings/get_infor_from_natas"%>
	  <%= render "processings/reply_to_customer"%>
	  <%= render "processings/add_comment"%>
	  <!--<%= link_to "Back", staff_view_case_path %>-->
     <% elsif groups.include?(current_user.user_group)==false %>
      <%= render "processings/reply_to_natas"%>
      <%= render "processings/get_infor_from_agent"%>
	  <%= render "processings/reply_to_customer"%>
	  <%= render "processings/add_comment"%>
	  <!--<%= link_to "Back", staff_view_case_path %>-->
     <% end %>

    </div><!--End of accordion parent-->