<!--Start of each accordion item-->
  <!--accordion_headings header_highlight-->  
  <div id="test-header1" class="accordion_headings header_highlight" >Reply To Natas</div><!--Heading of the accordion ( clicked to show n hide ) -->
  
  <!--Prefix of heading (the DIV above this) and content (the DIV below this) to be same... eg. foo-header & foo-content-->
  
  <div id="test-content1" style="display: none;"><!--DIV which show/hide on click of header-->
  
  	<!--This DIV is for inline styling like padding...-->
    <div class="accordion_child">   
        <form name="response" method="post" action="/create_response?type=forward" >
		   <table>
		   	<th></th><th>User ID</th><th>Mr/Ms</th><th>First Name</th><th>Last Name</th><th>Department</th><th>Group ID</th>	
			<% @natas_staffs.each do |staff| %> 
		   <tr class="color"><td><%= radio_button_tag(:response_to, staff.user_id) %></td>
		   	   <td><%= staff.user_id%></td>
		   	   <td><%= staff.gender%></td>
			   <td><%= staff.first_name%></td>
			   <td><%= staff.last_name%></td>
		   	   <td><%= staff.company_name%></td>
		   	   <td><%= staff.branch_name%></td>
		</tr>
			<% end %> 		  
		   </table><br />
		    <table> 	
		    <table>  
		        <tr><td><%= hidden_field_tag(:case_id, @case_id)%></td></tr>  	
			    <tr><td><%= text_area_tag "content","",:autofocus => true, :style=>"background:white; width:350px; height:150px;"%></td></tr>
			    <tr><td><%= submit_tag "Submit"%></td></tr></table>
		</form>	 	
    </div>
    
  </div>
<!--End of each accordion item--> 



