 
   <div id="menu">
    <ul>
      <% groups=["admin","customer","natas"]%>
      <% if current_user.user_group=="customer"%>
      <li><%= link_to "HOME", cus_home_path %></li>
      <li><%= link_to "PROFILE", cus_detail_path(:user_id=>current_user.user_id) %></li>
      <% elsif current_user.user_group=="natas"%>
      <li style="margin-left: 65px; margin-right: 40px;"><%= link_to "HOME", staff_view_case_path(:user_id=>current_user.user_id) %></li>
      <% elsif groups.include?(current_user.user_group)==false %>
      <li style="margin-left: 65px; margin-right: 40px;"><%= link_to "HOME", mbr_home_path(:user_id=>current_user.user_id) %></li>
      <% end %>
      <li><%= link_to "CHANGE PASSWORD", reset_pwd_path %></li>
      <li id="account"><span>WELCOME CUSTOMER!</span><br /><%= link_to "LOG OUT", signout_path %></li>
    </ul>
   </div>
   
   <div id="cols">
   	<div id="aside">
      <ul>
      	<% groups=["admin","customer","natas"]%>
        <% if current_user.user_group=="customer"%>
		<li><%= link_to "Outstanding Case", cus_home_path, :class=>"tab-active" %></li>
		<li><%= link_to "Add new feedback", cus_new_case_path %></li>
		<% elsif current_user.user_group=="natas"%>
		  <li><%= link_to " Feedback List", staff_view_case_path, :style=>"padding-left:50px; padding-right:60px;" %></li>
		  <% if current_user.level=="Senior"%>
          <li><%= link_to "Add New Account", natas_add_new_user_path %></li>
          <% end %>
        <% elsif groups.include?(current_user.user_group)==false %>
          <li><%= link_to " Feedback List", staff_view_case_path, :style=>"padding-left:50px; padding-right:60px;" %></li>
		  <% if current_user.level=="Senior"%>
          <li><%= link_to "Add New Account", natas_add_new_user_path(:group=>"member") %></li>
          <% end %>
        <% end %>
	  </ul>
    </div>
   
   <div id="content">

    <div class="domtab">
	 <ul class="domtabs">
		<li><a href="#what" style="margin-left: 3px;">Detail</a></li>
		<li style="margin-left: 5px;"><a href="#how">Attach</a></li>
		<li style="margin-left: 5px;"><a href="#fl">Reply</a></li>
		<li class="reply">
         
        </li>
	 </ul>
	<div class="domtab-content">
		<a href="what" id="what"></a>
		<p><%= render "cases/case_detail_info"%></p>
		</div>
	<div class="domtab-content">
		<a href="how" id="how"></a>
		<p>Content</p>
	</div>
	<div class="domtab-content">
		<a href="fl" id="fl"></a>
		<p><%= render "processings/case_response"%></p>
	</div>
   </div><!-- end of domtab -->
    
 
    
    
   </div><!-- end of content -->
  </div><!-- end of cols -->
  
	</body>
</html>











