<script type="text/javascript">
function hideshow(which){
if (!document.getElementById)
return
if (which.style.display=="block")
which.style.display="none"
else
which.style.display="block"
}
</script>
<table>
	<tr><td>Company Name:</td><td><strong><%= @case.company_name%></strong></td><td>Branch Name:</td><td><%= @case.branch_name%></td></tr>
	<tr><td>Submit Date:</td><td><%=@case.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td></tr>
	<tr><td>Title:</td><td><%= @case.title%></td><td>Nature Of Complaint:</td><td><%=@case.category%></td></tr>
	<tr><td>Date Of Incident:</td><td><%= @case.incident_date.to_date%></td><td></td><td></td></tr>
	<tr><td>Complaint:</td></tr>
	<tr><td><%= @case.content %></td></tr>		

<!--<% if @case.status=0 && current_user.user_group=="customer"%>
  <%= link_to "Edit", case_edit_path(:case_id=>@case.case_id)%> ||
  <%= link_to "Delete", case_destroy_path(:case_id=>@case.case_id), :confirm=>"Are you sure you want to cancel the case?" %>
<% end %>-->
</table><br />

