    <div id="aside">
      <ul>
		<% if current_user.poc=="Y" && current_user.user_group=="natas"%>
		   <% count=Case.find_by_sql("select * from cases where status='0'").count %>
		  <li><%= link_to "Feedback List"+"("+count.to_s+")", staff_view_case_path,:class=>"tab-active", :style=>"padding-left:30px; padding-right:60px;" %></li>
		<% else %>
		  <li><%= link_to "Feedback List", staff_view_case_path,:class=>"tab-active", :style=>"padding-left:50px; padding-right:60px;" %></li>
		<% end %>      	
		
		<% if current_user.level=="Senior"%>
        <li><%= link_to "Add New Account", natas_add_new_user_path %></li>
        <% end %>
	  </ul>
    </div>
    
    <div id="content">
    	<div id="view_case">
         <div id="view_case_form">
  <%= form_for(:cases, :url=>staff_view_case_path(:type=>"filter")) do |f| %>
  <% if params[:type]=="filter"%>
    <%key=params[:nature]%>
    <div>Category: <%= select_tag(:nature, options_for_select(CaseCategory.all.collect {|p| [ p.name.strip(), p.id ] },key),:include_blank => true) %>
  <% else%>
    <div>Category: <%= select_tag(:nature, options_for_select(CaseCategory.all.collect {|p| [ p.name.strip(), p.id ] }),:include_blank => true) %>
  <% end %>  
    <%= f.submit "Filter" %></div>
<% end %>

<form name="search" method="post" action="/case_processing?type=search" id="search" >
	<%= text_field_tag "case_id"%>
	<%= submit_tag "search"%>
<% if params[:search]=="none"%>
<span style="font-size:14px; color: red; font-weight: normal;">NO Record</span>
<% end %>
</form>&nbsp;

</div>

<% if current_user.user_group=="natas"%>
  <% if current_user.poc=="Y"%>
    <table cellspacing="10">
    	<tr><th>Case ID</th><th>Title</th></tr>
    <% @cases.each do|one| %>
     <% if one.status=="0"%>     
       <tr><td><%=link_to one.case_id,case_processing_path(:case_id=>one.case_id) %></td>
           <td><%= one.title%></td></tr>    
     <% else %>
       <tr><td><%=link_to one.case_id,case_processing_path(:case_id=>one.case_id) %></td>
           <td><%= one.title%></td></tr>
     <% end %>
     <% end %>
     </table><br />
        
  <% else %>  
	Responsible Cases<br />
	<table cellspacing="10">		
	<% if @cases!=nil%>	
	    <tr><th>Case ID</th><th>Category</th><th>Time</th></tr>
		<% @cases.each do |one|%>
		    <tr><td><%= link_to one.case_id, case_processing_path(:case_id=>one.case_id) %></td>
		    	<td><%= one.category%></td>
		    	<td>Send by <%= one.created_by.strip()%> on <%= one.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td></tr>
		<% end %></table><br />	
	<% end %>
	<br />Other Cases
	<table cellspacing="10">
		<tr><th>Case ID</th><th>Category</th><th>Time</th></tr>
	<% @cases_all.each do |one|%>
	    <tr><td><%= link_to one.case_id, case_processing_path(:case_id=>one.case_id) %></td>
	    	<td><%=one.category%></td>
	    	<td>Send by <%= one.created_by.strip()%> on <%= one.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td></tr>
	<% end %></table><br />
  <% end %>	
<% elsif current_user.user_group != "natas" && current_user.user_group != "customer" && current_user.user_group != "admin" %>
	<% if current_user.poc=="Y"%>
	    <table cellspacing="10">	    	
	    <% @cases.each do|one| %>
	    <tr><th>Case ID</th><th>Title</th></tr>
	       <tr><td><%=link_to one.case_id,case_processing_path(:case_id=>one.case_id) %></td>
	           <td><%= one.title%></td></tr>
	     <% end %>
	     </table><br />	
	<% else %>
		Responsible Cases<br />
		<table cellspacing="10">
		<% @cases.each do |one|%>
		  <% response=Processing.find(:all, :conditions=>["case_id=? and response_to=?",one.case_id,current_user.user_id])%>
		  <% if response != nil %>
		    <tr><td><%= link_to one.content, case_processing_path(:case_id=>one.case_id) %></td><td>Send by <%= one.created_by.strip()%> on <%= one.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td></tr>
		  <% end %>
		<% end %></table><br />
		
		<br />Other Cases
		<table cellspacing="10">
		<% @cases.each do |one|%>
		  <% response=Processing.find(:all, :conditions=>["case_id=? and response_to =?",one.case_id,current_user.user_id])%>
		  <% if response.nil? %>
		    <tr><td><%= link_to one.content, case_processing_path(:case_id=>one.case_id) %></td><td>Send by <%= one.created_by.strip()%> on <%= one.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td></tr>
		  <% end %>
		<% end %></table><br />	
	<% end %>
	

<% end %>

 </div>
</div>
