   <div id="menu">
    <ul>
      <% groups=["admin","customer","natas"]%>
      <% if current_user.user_group=="customer"%>
      <li><%= link_to "HOME", cus_home_path %></li>
      <li><%= link_to "PROFILE", cus_detail_path(:user_id=>current_user.user_id) %></li>
      <% elsif current_user.user_group=="natas"%>
      <li><%= link_to "HOME", staff_view_case_path(:user_id=>current_user.user_id) %></li>
      <% elsif groups.include?(current_user.user_group)==false %>
      <li><%= link_to "HOME", mbr_home_path(:user_id=>current_user.user_id) %></li>
      <% end %>
      <li><%= link_to "CHANGE PASSWORD", reset_pwd_path, :class=>"menu-active" %></li>
      <li id="account"><span>WELCOME CUSTOMER!</span><br /><%= link_to "LOG OUT", signout_path %></li>
    </ul>
   </div>
 
   <div id="cols">
    <div id="aside">
      <ul>
		<% groups=["admin","customer","natas"]%>
        <% if current_user.user_group=="customer"%>
		<li><%= link_to "Outstanding Case", case_show_path, :class=>"tab-active" %></li>
		<li><%= link_to "Add new feedback", cus_new_case_path %></li>
		<% elsif current_user.user_group=="natas"%>
		<% if current_user.poc=="Y"%>
		   <% count=Case.find_by_sql("select * from cases where status='0'").count %>
		  <li><%= link_to "Feedback List"+"("+count.to_s+")", staff_view_case_path,:style=>"padding-left:30px; padding-right:60px;" %></li>
		<% else %>
		  <li><%= link_to "Feedback List", staff_view_case_path,:style=>"padding-left:50px; padding-right:60px;" %></li>
		<% end %>   		
		  
		  <% if current_user.level=="Senior"%>
          <li><%= link_to "Add New Account", natas_add_new_user_path %></li>
          <% end %>
        <% elsif groups.include?(current_user.user_group)==false %>
          <li><%= link_to " Feedback List", staff_view_case_path, :style=>"padding-left:50px; padding-right:60px;" %></li>
		  <% if current_user.level=="Senior"%>
          <li><%= link_to "Add New Account", natas_add_new_user_path(:group=>"member") %></li>
          <% end %>
        <% end %>
	  </ul>
    </div>

    <div id="content">
     <h1 id="em">My Password</h1>
     <%= form_for(:users, :url=>:update_pwd) do |f| %>
     <table id="password">
       <tr><td>Current Password</td><td><%= f.password_field :current_pw, :style=>"width:201px;" %></td></tr>
       <tr><td>New Password</td><td><%= f.password_field :password %>&nbsp;(Minimum of 6 character)</td></tr>
       <tr><td>Confirm New Password</td><td><%= f.password_field :password_confirmation %><!--<%= session[:password]%>--></td></tr>
       <tr><td colspan="2" style="font-size: 12px; color: red; text-align: center;">
  	<% if params[:n]=="0"%>
  	  Your password confirmation doesn't match.
  	<% elsif params[:n]=="1" %>
  	  The current password is incorrect.
  	<% elsif params[:n]=="2" %>
  	  The length of password must be more than 6 characters.
  	<% end %>
           </td></tr>
       <tr><td colspan="2" id="move"><%= f.submit "Submit", :style=>"font-size: 14px;" %></td></tr>
     </table>
     <% end %>

   </div>   
   
   </div><!--end of cols -->