<!DOCTYPE html>
<html>
<head>
  <% if @title=="signup"%>
  <title>Sign up</title>
  <%= stylesheet_link_tag "signin.css"%><!-- SIGNIN STYLE SHEET -->
  
  <% elsif @title=="case_processing" %>
  <%= javascript_include_tag "domtab.js" %>
  <script type="text/javascript">
    document.write('<style type="text/css">');    
    document.write('div.domtab-content {display:none;}<');
    document.write('/s'+'tyle>');    
  </script>
  <%= javascript_include_tag "accordian.pack.js" %> 
  <%= stylesheet_link_tag "main.css" %><!-- main style sheet -->
  
  <% else %>
  <%= stylesheet_link_tag "main.css" %><!-- main style sheet -->
  <% end %>
  
  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js" %>
  <%= csrf_meta_tags %>
</head>
<body onload="new Accordian('basic-accordian',5,'header_highlight');">
  <% if @title=="signup"%>
  
   <%= yield %>
  
  <% else %>
  <%= image_tag "NATAS.png", :style=>"padding-left:177px;" %>
   
   <%= yield %>
   
  <%= image_tag "footer.png", :style=>"padding-left:177px;" %>
  
  
  <% end %>


</body>
<!--<%= debug(params) if Rails.env.development? %>-->  
</html>

  

